tuples are immutable and ordered

count() and index() are two tuple methods .

count() is used to get the count of specific element in tuple and index() is used to get the index of specific element

Examples:

In [1]:
#Count()

t=(1,2,4,2)

print(t.count(2))

2

In [ ]:
#index()


t=(1,2,4)

print(t.index(2))

1

In [9]:
# set datatype does not allow duplicates 

l=[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]


s=list(set(l))

print(s)

[1, 2, 3, 4]

In [11]:
s={1,2,3}
s2={3,4,5}

#union()

print(s.union(s2))

#update()

s.update({8,9})

print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 8, 9}

In [14]:
# dictionary is a datatype which is used to store values in key value format

d={'1':'siri','2':"chandu"}

print(d)

# dictionary is unordered

{'1': 'siri', '2': 'chandu'}

In [15]:
# yes,we can create a nested dictionary

d1={'1':{'siri','chandana'},'2':{'mounica','tamalampudi'}}

print(d1)

{'1': {'siri', 'chandana'}, '2': {'mounica', 'tamalampudi'}}

In [24]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

dict1.setdefault('topics',['python','ml','dl'])
                           
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['python', 'ml', 'dl']}

In [26]:
#three view objects in dictionary data type is keys,values and items

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

print(dict1.keys(),dict1.values(),dict1.items(),sep='\n')

dict_keys(['Sport', 'Teams'])
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])